{% extends 'base.html.twig' %}

{% block body %}
<h1 class="display-3">Partidas</h1>
<table class="table table-striped table-hover center">
    <thead>
    <tr>
        <th>Descrição</th>
        <th>Placar Visitante</th>
        <th>Placar Casa</th>
        <th>Data da Partida</th>
        <th>Campeonato</th>
    </tr>
    </thead>
    <tbody>
    {% for partida in partidas %}
    <tr>
        <td>{{ partida.descricao }}</td>
        <td>{{ partida.placarVisitante }}</td>
        <td>{{ partida.placarCasa }}</td>
        <td>{{ partida.dataPartida|date("d/m/Y H:i") }}</td>
        <td>{{  partida.campeonato.nome }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}

{% block title %}
    {% for partida in partidas %}
    Listando Partidas de {{ partida.dataPartida|date("d/m/Y H:i") }}"
    {% endfor %}
{% endblock %}
